
/*--------------------------------------------------------------------------*/
/*				         Break point et burger menu							*/
/*--------------------------------------------------------------------------*/

@media only screen and (min-width: 1660px) {
    .screen_data_display{ 
        height: 700px;
        width: 1000px;
    } 
}

@media only screen and (min-width: 1500px) and  (max-width: 1660px) {
    .screen_data_display{ 
        height: 600px;
        width: 900px;
    } 
}

@media only screen and (min-width: 1400px) and  (max-width: 1500px) {
    .screen_data_display{ 
        height: 550px;
        width: 850px;
    } 
}

@media only screen and (min-width: 800px) and  (max-width: 1400px) {
    .screen_data_display{ 
        position: absolute;
        height: 550px;
        width: 850px;
        top: 70vh;
        left: 50vw;
        transform: translateX(-50%);
        margin-bottom: 120px;
    } 

    #button_arrow_down_change_data{
        position: absolute;
        top:115vh;  
        left: 90vw;
        transform: scale(2);
        padding-bottom: 200px;
    }
    
    #button_responcvive{
        position: absolute;
        left: 5vw;
        top: 113vh;
        transform: scale(2);
        padding-bottom: 200px;
    }

    #inject_text_realisations{
        position: absolute;
        top: 20vh;
        left: 50vw;
        transform: translateX(-50%);
        padding: 15px;
        width: 30.5%;
        height: 40%;
        border: 1px solid white;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.6);
        color: aliceblue;
    }

    .responciveMobileDisplay{
        position: absolute;
        top: 70vh;
        right: 50vw;
        transform: translateX(50%);
        width: 350px;
        height: 80%;
        border: 1px solid white;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.6);
    }
}

@media only screen and (max-width: 800px) {
    #anim_start{
        transform: scale(0.7);
        left: 20%;
        transform: translateX(-65%);
    }

    #inject_text_realisations{
        width: 60%;
        left: 50%;
        transform: translateX(-50%);
        top:100px;

    }

    .screen_data_display{
        position:absolute;
        top:550px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: 100%;
    } 

    #button_arrow_down_change_data{
        position: absolute;
        left: 45vw;
        transform: translateX(-50%);
        top: 1575px;
        transform: scale(2);
        padding-bottom: 50px;
    }
    
    #button_responcvive{
        position: absolute;
        left: 50vw;
        transform: translateX(50%);
        top: 90vh;
        display:none;
    }

    .navbar__link>a:hover::after {
        width: 0%;
        background-color: rgb(116, 116, 0);
    }

    nav>.burger {
        display: block;
    }
    
    .navbar__links {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 60px);
        position: absolute;
        top: 41px;
        background-color: rgba(0, 0, 0, 0.95);
        transform: translateX(100%);
        transition: all .5s ease-in-out;
        border-radius: 0%;
        border-style: none;
    }


    .show-nav .navbar__links {
        width: 100%;
        transform: translateX(0);
    }

    .navbar__link {
        display: block;
        transform: translateX(100%);
        transition: all .5s ease-in-out;
    }

    .show-nav .navbar__link {
        transform: translateX(0);
    }

    nav>ul>li {
        display: block;
        padding: 1rem;
        font-size: 1.1em;
        color: rgb(255, 255, 255);
        transition: all .4s ease-in-out;
    }

    nav>ul>li:hover {
        padding-left: 2rem;
        letter-spacing: 5px;
        width: fit-content;
    }

    .navbar__link:hover::after {
        width: 0%;
    }

    /* Toggle menu */
    .burger {
        display: none;
        position: relative;
        padding: 0;
        width: 45px;
        height: 40px;
        border: none;
        background: transparent;
        cursor: pointer;
        margin-right: 5px;
        float: right;
        top: 10px;
        right: 15px;
    }

    .bar {
        transition: all .5s ease-in-out;
        display: block;
        width: 45px;
        height: 4px;
        border-radius: 3px;
        background: white;
        border-bottom: 1px  rgb(214, 255, 217) solid;
    }

    .bar::before,
    .bar::after {
        transition: all .5s ease-in-out;
        content: "";
        width: 45px;
        height: 4px;
        position: absolute;
        left: 0;
        border-radius: 3px;
        background: white;
        border-bottom: 1px rgb(214, 255, 217) solid;
    }

    .bar::before {
        transform: translateY(-12px)
    }

    .bar::after {
        transform: translateY(12px)
    }

    .show-nav .bar {
        width: 0;
        background: transparent;
    }

    .show-nav .bar::before {
        transform: rotate(45deg);
    }

    .show-nav .bar::after {
        transform: rotate(-45deg);
    }

    /* Bonus - Animations */
    .show-nav .first {
        transition: all 1s ease-out;
    }

    .show-nav .second {
        transition: all 1.1s ease-out;
    }

    .show-nav .third {
        transition: all 1.2s ease-out;
    }

    .show-nav .four {
        transition: all 1.3s ease-out;
    }

    .show-nav .five {
        transition: all 1.4s ease-out;
    }
}
