@media only screen and (max-width: 500px)  {
    .navbar__link>a:hover::after {
        width: 0%;
        background-color: rgb(116, 116, 0);
    }
    nav>.burger {
        display: block;
    }
    /*--------------------------------------*/
    .navbar__links {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 0;
        height: calc(100vh - 65px);
        position: absolute;
        top: 0px;
        background-color: rgba(0, 0, 0, 0.95);
        transform: translateX(110%);
        transition: all .5s ease-in-out;
        border-style: none;
    }
    .show-nav .navbar__links {
        width: 100%;
        transform: translateX(0);
    }
    .navbar__link {
        display: block;
        transform: translateX(101%);
        transition: all .5s ease-in-out;
    }
    .show-nav .navbar__link {
        transform: translateX(0);
    }
    nav>ul>li {
        display: block;
        padding: 1rem;
        font-size: 1.6rem;
        color: rgb(116, 116, 0);
        transition: all .4s ease-in-out;
    }
    nav>ul>li:hover {
        padding-left: 2rem;
        letter-spacing: 5px;
    }
    .navbar__link:hover::after {
        width: 0%;
    }
    /* Toggle menu */
    .burger {
        display: none;
        position: relative;
        padding: 0;
        width: 45px;
        height: 45px;
        border: none;
        background: transparent;
        cursor: pointer;
        margin-right: 5px;
        float: right;
        top: 15px;
        right: 15px;
    }
    .bar {
        transition: all .5s ease-in-out;
        display: block;
        width: 45px;
        height: 4px;
        border-radius: 3px;
        background: rgb(116, 116, 0);
        border-bottom: 1px white solid;
    }
    .bar::before,
    .bar::after {
        transition: all .5s ease-in-out;
        content: "";
        width: 45px;
        height: 4px;
        position: absolute;
        left: 0;
        border-radius: 3px;
        background: rgb(116, 116, 0);
        border-bottom: 1px white solid;
    }
    .bar::before {
        transform: translateY(-12px)
    }
    .bar::after {
        transform: translateY(12px)
    }
    .show-nav .bar {
        width: 0;
        background: transparent;
    }
    .show-nav .bar::before {
        transform: rotate(45deg);
    }
    .show-nav .bar::after {
        transform: rotate(-45deg);
    }
    /* Bonus - Animations */
    .show-nav .first {
        transition: all 1s ease-out;
    }
    .show-nav .second {
        transition: all 1.1s ease-out;
    }
    .show-nav .third {
        transition: all 1.2s ease-out;
    }
    .show-nav .four {
        transition: all 1.3s ease-out;
    }
    .show-nav .fifth {
        transition: all 1.4s ease-out;
    }
    .show-nav .six {
        transition: all 1.5s ease-out;
    }
}